{% extends 'base.html' %}

{% block titulo %}
Pesquisa Filme
{% endblock %}

{% block content %}
<main class='bg-primary_black min-h-screen w-full'>
    <section class='bg-primary_black  min-h-screen flex justify-center py-10'>
        <div class="p-8 w-10/12 relative" >
            <h2 class="text-gray-200 text-2xl font-medium">
                Resultados da Busca
            </h2>
            <div class="flex flex-wrap items-center min-w-full movie_lis">
                <br>
                <h3 class="text-gray-200 text-2xl font- "> 
                    Não foram encontrados nenhum filme com esse nome
                </h2>
            </div>


        </div>
    </section>
</main>
{% endblock %}